<% if !logged_in? %>
	<% redirect '/login' %>
<%end%>
<h1>Create a new destination</h1>
<form action="/destinations" method="POST">
  <label>Name: </label><input type="text" name="destination[name]" id="destination_name">
 
  <br></br>
 
  <label>Choose an existing activity:</label>
 
  <br></br>
 
  <%Activity.all.each do |activity|%>
    <input type="checkbox" name="destination[activity_ids][]" id="activity_<%=activity.id%>" value="<%=activity.id%>"><%=activity.name%></input>
  <%end%>
 
  <br></br>
 
    <label>and/or, create a new activity:</label>
    <br></br>
    <label>Name:</label>
      <input  type="text" name="activity[name]" id="new_activity"></input>
    <br></br>
  <input type="submit" value="Create New Destination">
</form>